@import '../../styles/global.scss';

.c-navbar {
    display: flex;
    width: 100%;
    z-index: $s-z--navbar;
    align-items: stretch;
    color: $s-color--white;
    background-color: $s-color--primary;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.14);

    &__logo-container, &__logo-container:hover {
        padding: 0.5em;
        color: $s-color--white;
        text-decoration: none;
    }

    &__logo {
        width: auto;
        font-size: 1.4em;
        font-weight: 600;
        text-transform: uppercase;
    }
}