// Team Colors //
$s-color--red-primary: #dc285d;
$s-color--red-secondary: #f3dcb0;
$s-color--red-tertiary: #e0b5af;
$s-color--red-team: #E85A6B;

$s-color--blue-primary: #2D489E;
$s-color--blue-secondary: #ACDDD6;
$s-color--blue-tertiary: #AFB4D5;
$s-color--blue-team: #5B60AC;
