@import '../../styles/global.scss';

.c-page {
    min-height: 80vh;

    &.has-background {
        position: relative;
    }
    
    &__boundary {
        max-width: $s-screen-boundary;
        margin: 0 auto;

        &.is-full {
            position: relative;
            height: 100%;
        }

        &.is-small {
            max-width: $s-screen-boundary / 2;
        }
    }

    &__background {
        position: fixed;
        z-index: $s-z--background;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position:center;
    }
}